.Form {
    padding: 0 32px;
}
h2 {
    text-align: center;
}

.FormItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0 12px;
    margin-bottom: 12px
}

.Text {
    margin-right: 32px;
    width: 120px;
    font-weight: bold;
    font-size: 18px
}

label {
    font-weight: bold;
    margin-right: 8px;
}